In [4]:
import pandas as pd

In [5]:
df = pd.read_excel(r'dataset.xlsx')

In [6]:
df.head()

               Price             Rooms   Area     Floor
0  2 673 000 000 сум  4-комн. квартира  150м2    3/9эт.
1    402 000 000 сум  3-комн. квартира   82м2  10/12эт.
2    435 000 000 сум  3-комн. квартира   72м2    4/4эт.
3    357 000 000 сум  1-комн. квартира   40м2    5/5эт.
4  1 068 000 000 сум  3-комн. квартира   80м2    2/7эт.

In [7]:
df['Price'] = df['Price'].map(lambda x: x.rstrip(' сум').replace(' ', ''))
df.head()

        Price             Rooms   Area     Floor
0  2673000000  4-комн. квартира  150м2    3/9эт.
1   402000000  3-комн. квартира   82м2  10/12эт.
2   435000000  3-комн. квартира   72м2    4/4эт.
3   357000000  1-комн. квартира   40м2    5/5эт.
4  1068000000  3-комн. квартира   80м2    2/7эт.

In [8]:
df['Area'] = df['Area'].str[:-2]
df.head()

        Price             Rooms Area     Floor
0  2673000000  4-комн. квартира  150    3/9эт.
1   402000000  3-комн. квартира   82  10/12эт.
2   435000000  3-комн. квартира   72    4/4эт.
3   357000000  1-комн. квартира   40    5/5эт.
4  1068000000  3-комн. квартира   80    2/7эт.

In [9]:
df['Floor'] = df['Floor'].map(lambda x: x.rstrip('эт.'))
df.head()

        Price             Rooms Area  Floor
0  2673000000  4-комн. квартира  150    3/9
1   402000000  3-комн. квартира   82  10/12
2   435000000  3-комн. квартира   72    4/4
3   357000000  1-комн. квартира   40    5/5
4  1068000000  3-комн. квартира   80    2/7

In [10]:
room_types = df['Rooms'].unique()
room_types

array(['4-комн. квартира', '3-комн. квартира', '1-комн. квартира',
       '2-комн. квартира', 'Студия', '5-комн. квартира',
       '7-комн. квартира', 'Апартаменты', 'Малосемейка'], dtype=object)

In [11]:
print(df['Rooms'].value_counts())

2-комн. квартира    107
3-комн. квартира    104
4-комн. квартира     54
1-комн. квартира     23
Студия                4
5-комн. квартира      3
7-комн. квартира      2
Апартаменты           2
Малосемейка           1
Name: Rooms, dtype: int64

In [12]:
drop_columns = ['Студия','5-комн. квартира', '7-комн. квартира', 'Апартаменты', 'Малосемейка']

In [13]:
mask = df['Rooms'].isin(drop_columns)

In [14]:
df = df[~mask]

In [15]:
print(df['Rooms'].value_counts())

2-комн. квартира    107
3-комн. квартира    104
4-комн. квартира     54
1-комн. квартира     23
Name: Rooms, dtype: int64

In [18]:
df.dtypes

Price    object
Rooms    object
Area     object
Floor    object
dtype: object

In [19]:
len(df)

288

In [21]:
df['Price'] = pd.to_numeric(df['Price'])

In [23]:
df['Area'] = pd.to_numeric(df['Area'])

In [24]:
df.dtypes

Price      int64
Rooms     object
Area     float64
Floor     object
dtype: object

In [26]:
df.to_excel("dataset_cleaned.xlsx")