In [30]:
import pandas as pd

In [31]:
df = pd.read_excel(r'../data/raw/dataset.xlsx')

In [32]:
df.head()

,House_id,Price,District,Room_area_floor,Renovation_types,Built_years
0,7258386,870 000 000 сум,"Мирабадский, ул. Авлиё-Ота (5.2 км до центра)Н...","3-комн. квартира, 82м², 7/9 этаж",Косметический ремонт,7 из 9
1,7270325,210 000 000 сум,"Мирзо-Улугбекский, ул. Авайхон (0.2 км до цент...","1-комн. квартира, 23м², 2/3 этаж",Косметический ремонт,2 из 3
2,7248161,836 000 000 сум,"Чиланзарский, ул. 5-й квартал (10.8 км до цент...","3-комн. квартира, 78м², 3/4 этаж",Косметический ремонт,1979
3,7235546,535 000 000 сум,"Мирзо-Улугбекский, ул. Мирзо Улугбека (0.2 км ...","2-комн. квартира, 45м², 2/5 этаж",Косметический ремонт,2 из 5
4,7215874,754 000 000 сум,"Мирабадский, ул. Авлиё-Ота (5.2 км до центра)Н...","2-комн. квартира, 66м², 3/4 этаж",Косметический ремонт,3 из 4

In [33]:
len(df)

780

In [34]:
df.columns

Index(['House_id', 'Price', 'District', 'Room_area_floor', 'Renovation_types',
       'Built_years'],
      dtype='object')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   House_id          780 non-null    int64
 1   Price             780 non-null    object
 2   District          780 non-null    object
 3   Room_area_floor   780 non-null    object
 4   Renovation_types  780 non-null    object
 5   Built_years       780 non-null    object
dtypes: int64(1), object(5)
memory usage: 36.7+ KB

In [36]:
df['Price'] = df['Price'].map(lambda x: x.rstrip(' сум').replace(' ', ''))

In [37]:
df['Price'] = pd.to_numeric(df['Price'])

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   House_id          780 non-null    int64
 1   Price             780 non-null    int64
 2   District          780 non-null    object
 3   Room_area_floor   780 non-null    object
 4   Renovation_types  780 non-null    object
 5   Built_years       780 non-null    object
dtypes: int64(2), object(4)
memory usage: 36.7+ KB

In [39]:
df[['District_name', 'Street']] = df['District'].str.split(' ', 1, expand=True)

In [40]:
df['District_name'] = df['District_name'].map(lambda x: x.rstrip(','))

In [41]:
df.head()

,House_id,Price,District,Room_area_floor,Renovation_types,Built_years,District_name,Street
0,7258386,870000000,"Мирабадский, ул. Авлиё-Ота (5.2 км до центра)Н...","3-комн. квартира, 82м², 7/9 этаж",Косметический ремонт,7 из 9,Мирабадский,ул. Авлиё-Ота (5.2 км до центра)На карте
1,7270325,210000000,"Мирзо-Улугбекский, ул. Авайхон (0.2 км до цент...","1-комн. квартира, 23м², 2/3 этаж",Косметический ремонт,2 из 3,Мирзо-Улугбекский,ул. Авайхон (0.2 км до центра)На карте
2,7248161,836000000,"Чиланзарский, ул. 5-й квартал (10.8 км до цент...","3-комн. квартира, 78м², 3/4 этаж",Косметический ремонт,1979,Чиланзарский,ул. 5-й квартал (10.8 км до центра)На карте
3,7235546,535000000,"Мирзо-Улугбекский, ул. Мирзо Улугбека (0.2 км ...","2-комн. квартира, 45м², 2/5 этаж",Косметический ремонт,2 из 5,Мирзо-Улугбекский,ул. Мирзо Улугбека (0.2 км до центра)На карте
4,7215874,754000000,"Мирабадский, ул. Авлиё-Ота (5.2 км до центра)Н...","2-комн. квартира, 66м², 3/4 этаж",Косметический ремонт,3 из 4,Мирабадский,ул. Авлиё-Ота (5.2 км до центра)На карте

In [42]:
df['District_name'].unique()

array(['Мирабадский', 'Мирзо-Улугбекский', 'Чиланзарский', 'Юнусабадский',
       'Яшнабадский', 'Бектемирский', 'Сергелийский', 'Яккасарайский',
       'Алмазарский', 'Шайхантахурский', 'Учтепинский', 'Салар'],
      dtype=object)

In [43]:
df[df['District_name'] == 'Салар']

,House_id,Price,District,Room_area_floor,Renovation_types,Built_years,District_name,Street
111,7225440,283000000,"Салар посёлок, ул. Бойджигит (6.2 км до центра...","2-комн. квартира, 48м², 3/4 этаж",Косметический ремонт,3 из 4,Салар,"посёлок, ул. Бойджигит (6.2 км до центра)На карте"
113,7225145,272000000,"Салар посёлок, ул. Бойджигит (6.2 км до центра...","2-комн. квартира, 48м², 1/4 этаж",Частичный ремонт,1 из 4,Салар,"посёлок, ул. Бойджигит (6.2 км до центра)На карте"
202,7140646,360000000,"Салар посёлок, ул. Университетская (6.2 км до ...","3-комн. квартира, 65м², 1/4 этаж",Частичный ремонт,1 из 4,Салар,"посёлок, ул. Университетская (6.2 км до центра..."

In [44]:
df['District_name'].value_counts()

Мирзо-Улугбекский    140
Юнусабадский         119
Яшнабадский          106
Мирабадский          103
Сергелийский          75
Яккасарайский         69
Чиланзарский          55
Шайхантахурский       52
Бектемирский          25
Алмазарский           24
Учтепинский            9
Салар                  3
Name: District_name, dtype: int64

In [47]:
df['Price'] = df['Price'] / 1000000

In [48]:
mean_price_by_district = df.groupby('District_name')['Price'].mean()

In [51]:
mean_price_by_district.sort_values(ascending = False)

District_name
Мирзо-Улугбекский    1019.078571
Мирабадский           960.514563
Яккасарайский         846.130435
Юнусабадский          835.537815
Шайхантахурский       769.788462
Яшнабадский           753.698113
Учтепинский           540.777778
Чиланзарский          528.727273
Сергелийский          511.360000
Бектемирский          415.520000
Алмазарский           311.500000
Салар                 305.000000
Name: Price, dtype: float64

In [52]:
df.head()

,House_id,Price,District,Room_area_floor,Renovation_types,Built_years,District_name,Street
0,7258386,870.0,"Мирабадский, ул. Авлиё-Ота (5.2 км до центра)Н...","3-комн. квартира, 82м², 7/9 этаж",Косметический ремонт,7 из 9,Мирабадский,ул. Авлиё-Ота (5.2 км до центра)На карте
1,7270325,210.0,"Мирзо-Улугбекский, ул. Авайхон (0.2 км до цент...","1-комн. квартира, 23м², 2/3 этаж",Косметический ремонт,2 из 3,Мирзо-Улугбекский,ул. Авайхон (0.2 км до центра)На карте
2,7248161,836.0,"Чиланзарский, ул. 5-й квартал (10.8 км до цент...","3-комн. квартира, 78м², 3/4 этаж",Косметический ремонт,1979,Чиланзарский,ул. 5-й квартал (10.8 км до центра)На карте
3,7235546,535.0,"Мирзо-Улугбекский, ул. Мирзо Улугбека (0.2 км ...","2-комн. квартира, 45м², 2/5 этаж",Косметический ремонт,2 из 5,Мирзо-Улугбекский,ул. Мирзо Улугбека (0.2 км до центра)На карте
4,7215874,754.0,"Мирабадский, ул. Авлиё-Ота (5.2 км до центра)Н...","2-комн. квартира, 66м², 3/4 этаж",Косметический ремонт,3 из 4,Мирабадский,ул. Авлиё-Ота (5.2 км до центра)На карте

In [55]:
df[['No_of_rooms', 'Area', 'Floor']] = df['Room_area_floor'].str.split(',', expand=True)

In [57]:
df.head()

,House_id,Price,District,Room_area_floor,Renovation_types,Built_years,District_name,Street,No_of_rooms,Area,Floor
0,7258386,870.0,"Мирабадский, ул. Авлиё-Ота (5.2 км до центра)Н...","3-комн. квартира, 82м², 7/9 этаж",Косметический ремонт,7 из 9,Мирабадский,ул. Авлиё-Ота (5.2 км до центра)На карте,3-комн. квартира,82м²,7/9 этаж
1,7270325,210.0,"Мирзо-Улугбекский, ул. Авайхон (0.2 км до цент...","1-комн. квартира, 23м², 2/3 этаж",Косметический ремонт,2 из 3,Мирзо-Улугбекский,ул. Авайхон (0.2 км до центра)На карте,1-комн. квартира,23м²,2/3 этаж
2,7248161,836.0,"Чиланзарский, ул. 5-й квартал (10.8 км до цент...","3-комн. квартира, 78м², 3/4 этаж",Косметический ремонт,1979,Чиланзарский,ул. 5-й квартал (10.8 км до центра)На карте,3-комн. квартира,78м²,3/4 этаж
3,7235546,535.0,"Мирзо-Улугбекский, ул. Мирзо Улугбека (0.2 км ...","2-комн. квартира, 45м², 2/5 этаж",Косметический ремонт,2 из 5,Мирзо-Улугбекский,ул. Мирзо Улугбека (0.2 км до центра)На карте,2-комн. квартира,45м²,2/5 этаж
4,7215874,754.0,"Мирабадский, ул. Авлиё-Ота (5.2 км до центра)Н...","2-комн. квартира, 66м², 3/4 этаж",Косметический ремонт,3 из 4,Мирабадский,ул. Авлиё-Ота (5.2 км до центра)На карте,2-комн. квартира,66м²,3/4 этаж

In [58]:
df['Area'] = df['Area'].str[:-2]

In [59]:
df.head()

,House_id,Price,District,Room_area_floor,Renovation_types,Built_years,District_name,Street,No_of_rooms,Area,Floor
0,7258386,870.0,"Мирабадский, ул. Авлиё-Ота (5.2 км до центра)Н...","3-комн. квартира, 82м², 7/9 этаж",Косметический ремонт,7 из 9,Мирабадский,ул. Авлиё-Ота (5.2 км до центра)На карте,3-комн. квартира,82,7/9 этаж
1,7270325,210.0,"Мирзо-Улугбекский, ул. Авайхон (0.2 км до цент...","1-комн. квартира, 23м², 2/3 этаж",Косметический ремонт,2 из 3,Мирзо-Улугбекский,ул. Авайхон (0.2 км до центра)На карте,1-комн. квартира,23,2/3 этаж
2,7248161,836.0,"Чиланзарский, ул. 5-й квартал (10.8 км до цент...","3-комн. квартира, 78м², 3/4 этаж",Косметический ремонт,1979,Чиланзарский,ул. 5-й квартал (10.8 км до центра)На карте,3-комн. квартира,78,3/4 этаж
3,7235546,535.0,"Мирзо-Улугбекский, ул. Мирзо Улугбека (0.2 км ...","2-комн. квартира, 45м², 2/5 этаж",Косметический ремонт,2 из 5,Мирзо-Улугбекский,ул. Мирзо Улугбека (0.2 км до центра)На карте,2-комн. квартира,45,2/5 этаж
4,7215874,754.0,"Мирабадский, ул. Авлиё-Ота (5.2 км до центра)Н...","2-комн. квартира, 66м², 3/4 этаж",Косметический ремонт,3 из 4,Мирабадский,ул. Авлиё-Ота (5.2 км до центра)На карте,2-комн. квартира,66,3/4 этаж

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   House_id          780 non-null    int64
 1   Price             780 non-null    float64
 2   District          780 non-null    object
 3   Room_area_floor   780 non-null    object
 4   Renovation_types  780 non-null    object
 5   Built_years       780 non-null    object
 6   District_name     780 non-null    object
 7   Street            780 non-null    object
 8   No_of_rooms       780 non-null    object
 9   Area              780 non-null    object
 10  Floor             780 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 67.2+ KB

In [61]:
df['Area'] = pd.to_numeric(df['Area'])

In [63]:
df.dtypes

House_id              int64
Price               float64
District             object
Room_area_floor      object
Renovation_types     object
Built_years          object
District_name        object
Street               object
No_of_rooms          object
Area                float64
Floor                object
dtype: object

In [64]:
df['Floor'] = df['Floor'].map(lambda x: x.rstrip('этаж'))

In [65]:
df.head()

,House_id,Price,District,Room_area_floor,Renovation_types,Built_years,District_name,Street,No_of_rooms,Area,Floor
0,7258386,870.0,"Мирабадский, ул. Авлиё-Ота (5.2 км до центра)Н...","3-комн. квартира, 82м², 7/9 этаж",Косметический ремонт,7 из 9,Мирабадский,ул. Авлиё-Ота (5.2 км до центра)На карте,3-комн. квартира,82.0,7/9
1,7270325,210.0,"Мирзо-Улугбекский, ул. Авайхон (0.2 км до цент...","1-комн. квартира, 23м², 2/3 этаж",Косметический ремонт,2 из 3,Мирзо-Улугбекский,ул. Авайхон (0.2 км до центра)На карте,1-комн. квартира,23.0,2/3
2,7248161,836.0,"Чиланзарский, ул. 5-й квартал (10.8 км до цент...","3-комн. квартира, 78м², 3/4 этаж",Косметический ремонт,1979,Чиланзарский,ул. 5-й квартал (10.8 км до центра)На карте,3-комн. квартира,78.0,3/4
3,7235546,535.0,"Мирзо-Улугбекский, ул. Мирзо Улугбека (0.2 км ...","2-комн. квартира, 45м², 2/5 этаж",Косметический ремонт,2 из 5,Мирзо-Улугбекский,ул. Мирзо Улугбека (0.2 км до центра)На карте,2-комн. квартира,45.0,2/5
4,7215874,754.0,"Мирабадский, ул. Авлиё-Ота (5.2 км до центра)Н...","2-комн. квартира, 66м², 3/4 этаж",Косметический ремонт,3 из 4,Мирабадский,ул. Авлиё-Ота (5.2 км до центра)На карте,2-комн. квартира,66.0,3/4

In [67]:
room_types = df['No_of_rooms'].unique()

In [68]:
room_types

array(['3-комн.  квартира', '1-комн.  квартира', '2-комн.  квартира',
       '4-комн.  квартира', '10-комн.  квартира', '7-комн.  квартира',
       'Студия', '5-комн.  квартира', '9-комн.  квартира',
       '6-комн.  квартира', '8-комн.  квартира'], dtype=object)

In [69]:
print(df['No_of_rooms'].value_counts())

3-комн.  квартира     323
2-комн.  квартира     219
4-комн.  квартира     123
1-комн.  квартира      50
Студия                 21
7-комн.  квартира      20
10-комн.  квартира     17
6-комн.  квартира       3
5-комн.  квартира       2
9-комн.  квартира       1
8-комн.  квартира       1
Name: No_of_rooms, dtype: int64

In [ ]:
# drop_columns = ['Студия','5-комн. квартира', '7-комн. квартира', 'Апартаменты', 'Малосемейка']
# mask = df['Rooms'].isin(drop_columns)
# df = df[~mask]

In [ ]:
df.to_excel(r"../data/clean/dataset_cleaned_4.xlsx")